# Ignores estàndard de .NET i Visual Studio

## Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Rr]oslyn/
*.lo
*.psess
*.vsp
*.vspx
.vs/                  # Directori de Visual Studio (workspace files)
*.suo
*.user
*.userprefs
*.ess
*.tlog
*.trx
*.log
*.pdb
*.dll
*.exe
*.tmp
*.cache
*.sdf
*.vsscc
*.vspscc
*.vssscc

## NuGet packages
packages/
*.nupkg
.nuget/nuget.log
.nuget/*.json
project.assets.json # Fitxer generat per NuGet que conté les dependències resoltes

## Rider
*.csproj.DotSettings.user

## ReSharper
*.resharper

## Visual Studio Code
.vscode/

## Other IDEs
*.idea/ # Intellij, Rider, etc.

## Test Results
TestResults/
*.coverage
*.coveragexml

## Configuration files (IMPORTANT: CONTIENEN SECRETOS)
configs.json         # Fitxer de configuració de l'aplicació amb API Keys i secrets
token.json           # Fitxer de token d'autenticació de Google Calendar (especificat a configs.json)
*.token.json         # Per si el nom del fitxer de token varia lleugerament

## Source control
*.bak
*.old
*.orig
*.rej
*.scc

## configs
configs.json

## Operating System files
.DS_Store             # macOS
Thumbs.db             # Windows
/SemanticKernel_Agenda/configs.json
